
<div class="row">
    <div class="col-12">
        <center><h4>Se produjo un error en la carga del módulo. <br />
            Por favor contacte a Sistemas para más información.</h4></center>
    </div>
</div>
