
@model DistribucionUtilidades.Models.VM.EstadoProcesoVM


<div id="Alerts_EstadoProceso"></div>


<div class="row mb-2">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div>
            <h3>Estado del Proceso</h3>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row mb-3">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p class="leyenda">
            En este módulo, puede visualizar el estado en el que se encuentra el proceso y sus iteraciones en todo momento.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h4>Proceso:</h4>
        @{
            var proc = Model.estados.Where(xx => xx.EsIteracion == false).FirstOrDefault();

            if (proc != null)
            {
                <span>@proc.Descripcion</span>
            }
            else {
                <span>No hay ningún proceso iniciado.</span>
            }
        }  
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row mt-2">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h4>Iteraciones:</h4>
        @{
            var iter = Model.estados.Where(xx => xx.EsIteracion == true).ToList();

            if (iter.Count > 0)
            {
                foreach (var i in iter) {
                    <div><span>@(i.Info + " - ")</span><span>&nbsp;@i.Descripcion</span></div>
                }
            }
            else
            {
                <span>No hay ninguna iteración iniciada.</span>
            }
        }
    </div>
    <div class="col-md-1"></div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

    })

</script>