@*@model BackendPortal.Models.VM.VariosModalVM*@
@{
    ViewBag.Title = "Varios";
}

<div id="AlertsVarios">
</div>

<div class="container">
    <h2>Sitio web</h2>

    <ul class="nav nav-tabs">
        <li id="menuTabContacto" class="active">
            <a class="tbs" data-toggle="tab" data-info="menuContacto" href="#menuContacto">Contacto</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuOportunidades" href="#menuOportunidades">Oportunidades</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuPerfilDelEstudio" href="#menuPerfilDelEstudio">Perfil del estudio</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuProbono" href="#menuProbono">Probono</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuDoingBusiness" href="#menuDoingBusiness">Doing Business</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuBrochure" href="#menuBrochure">Brochure</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuPaneles" href="#menuPaneles">Paneles</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuAvisoLegal" href="#menuAvisoLegal">Aviso Legal</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuHistoria" href="#menuHistoria">Historia</a>
        </li>
        <li>
            <a class="tbs" data-toggle="tab" data-info="menuTextosMeta" href="#menuTextosMeta">Textos Meta</a>
        </li>

    </ul>

    <div class="tab-content">
        <div id="menuVarios" class="tab-pane fade in active">
        </div>
    </div>
</div>
<div id="AlertsVarios">
</div>


@Scripts.Render("~/bundles/Varios")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $('#menuVarios').load('/Varios/Contacto');

    });
</script>
