

@model DistribucionUtilidades.Models.VM.CargaFechaPagoVM

@{ string identif = "_CargaFechaPago";
}


<div id="Alerts_FechaDePago"></div>


<div class="row mb-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            @{
                if (ViewBag.TipoProceso == 1)
                {
                    <h3>Carga de Fecha de Pago (Proceso Real)</h3>
                }
                else
                {
                    <h3 style="color:#ff6a00">Carga de Fecha de Pago  (Proceso Provisorio)</h3>
                }
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="leyenda">
            Ingrese la fecha en la que se realizarán los pagos de las distribuciones.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            <div>
                <strong>Mes de Distribución: </strong> @Model.MesIteracion
                <br /><strong>Importe Bruto: </strong> $ @Model.MontoDistribucion.ToString("N0")
                <br /><strong>Nro de iteración: </strong> @Model.NroIteracion
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <label>Ingrese fecha de pago</label>
        <div class="input-group date">
            <input id="datepicker" type="datetime" class="form-control form-control-sm date" name="fechaPago" autocomplete=off readonly="readonly" />
            <div class="input-group-addon input-group-append input-date-calendar-search">
                <span class="input-group-text fa fa-calendar"></span>
            </div>
        </div>

        @*<input asp-for="fecha" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />*@

    </div>
    <div class="col-md-7">
        <div>
            <button type="button" class="btn btn-primary btn-sm" style="margin-top:29px;" onclick="GuardarFechaPago()">Guardar</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

    </div>
</div>


<partial name="_ValidationScriptsPartial" />
<script src="~/lib/bootstrap/dist/js/datepicker.js" asp-append-version="true"></script>
<environment include="Development">
    <script src="~/js/CargaFechaPago.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/datepicker.css"  />
</environment>
<environment exclude="Development">
    <script src="~/js/CargaFechaPago.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/datepicker.min.css" />
</environment>


<script type="text/javascript">

    $(document).ready(function () {
        //$('.date').datepicker();
        InicializarDatePickers()
        
    })

</script>