<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
  </configSections>
  <connectionStrings>
    <add name="SQLConnection" connectionString="initial catalog=Portal_PROD;data source=BRCMPVM11794524.corp.capgemini.com\sql2012;user id=sysadm;password=SYSADM" />
    <!--<add name="SQLConnection" connectionString="initial catalog=marval_prod2;data source=localhost\SQLEXPRESS;user id=sa;password=Capgemini18" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ConnectionType" value="System.Data.SqlClient" />
    <add key="DEBUG" value="true" />
    <add key="DEBUG_USER" value="JEGA" />
    <add key="VALID_USERS" value="JEGA,GLM,SEBFERNA" />
    <add key="ADMIN_USERS" value="JEGA,GLM,SEBFERNA" />
    <add key="DIR_REPOSITORIO" value="\\SRVMARVAL\Recursos\PortalBackend\" />
    <add key="DIR_REPOSITORIO_URL" value="http://SRVMARVAL:8200/PortalBackend/" />
    <add key="URL_DESCARGA" value="http://localhost:53660/Archivos/" />
    <add key="DIR_LANDINGPAGE" value="\\SRVMARVAL\Recursos\PortalBackend\LandingPage\" />
    <add key="DIR_LANDINGPAGE_URL" value="http://SRVMARVAL:8200/PortalBackend/LandingPage/" />
    <add key="DIR_EVENTO" value="\\SRVMARVAL\Recursos\PortalBackend\Evento\" />
    <add key="DIR_EVENTO_URL" value="http://SRVMARVAL:8200/PortalBackend/Evento/" />
    <add key="DIR_VINCULOS_INTERNACIONALES" value="\\SRVMARVAL\Recursos\PortalBackend\VinculosInternacionales\" />
    <add key="DIR_VINCULOS_INTERNACIONALES_URL" value="http://SRVMARVAL:8200/PortalBackend/VinculosInternacionales/" />
    <add key="DIR_PREMIOS" value="\\SRVMARVAL\Recursos\PortalBackend\Premios\" />
    <add key="DIR_PREMIOS_URL" value="http://SRVMARVAL:8200/PortalBackend/Premios/" />
    <add key="DIR_NEWSLETTERS" value="\\SRVMARVAL\Recursos\PortalBackend\Newsletters\" />
    <add key="DIR_NEWSLETTERS_URL" value="http://SRVMARVAL:8200/PortalBackend/Newsletters/" />
    <add key="DIR_CASOSESTUDIO" value="\\SRVMARVAL\Recursos\PortalBackend\CasosDeEstudio\" />
    <add key="DIR_CASOSESTUDIO_URL" value="http://SRVMARVAL:8200/PortalBackend/CasosDeEstudio/" />
    <add key="MSJ_TEST" value="false" />
    <!-- CONFIGURACIONES PARA IMPORTACION MASIVA -->
    <add key="DIR_TEMP_IMAGES_NOVEDADES" value="\\SRVMARVAL\TempMarval\Images\TempImportacionNovedades\" />
    <add key="DIR_REPOSITORIO_NOVEDADES" value="\\SRVMARVAL\TempMarval\Images\Novedades\" />
    <!-- Email Configuration -->
    <add key="SMTP" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="USER_SMTP" value="AKIAJ4NDCNQAKLK5GZRQ" />
    <add key="PASS_SMTP" value="AogIIHbL3ZTzbjyh/GjXp0rIFsmmw1Ras2zQbKXiZTvf" />
    <add key="PORT_SMTP" value="587" />
    <add key="EMAIL_MARVAL" value="contacto@marval.com" />
    <add key="EMAIL_MARVAL_NAME" value="Contacto Marval" />
    <add key="TO_MAIL" value="marval@marval.com" />
    <!--ACCESOS DE LA WEB CLIENTE-->
    <add key="WEB_ARTICULOS" value="https://www.marval.com/publicacion/" />
    <add key="WEB_LANDINGPAGE" value="http://localhost:59221/Landing/" />
    <add key="WEB_EVENTO" value="http://localhost:59221/Evento/" />
    <add key="WEB_CASOSDEESTUDIO" value="http://localhost:59221/CaseStudy/" />
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="es-ES" uiCulture="es-ES" enableClientBasedCulture="true" />
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2097152" executionTimeout="3600" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState timeout="600" mode="InProc" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: F8EDDA0E-A6BA-42D1-B3EB-BA0F84FDC3C3-->