@model BackendPortal.Models.AreaPracticaItem

<div class="row items-modal" style="padding-top: 15px; display: flex; align-items: end;">
    <div class="col-md-6">
        <label>Item (es) *</label>
        @Html.TextAreaFor(model => model.Item_es, new { @class = "form-control input-sm", style = "resize: none;overflow: hidden;min-height: 50px;max-height: 100px;", oninput = "auto_grow(this)" })
        <span class="d-none text-danger">El item_es es obligatorio</span>
    </div>
    <div class="col-md-5">
        <label>Item (en)</label>
        @Html.TextAreaFor(model => model.Item_en, new { @class = "form-control input-sm", style = "resize: none;overflow: hidden;min-height: 50px;max-height: 100px;", oninput = "auto_grow(this)" })

    </div>
    <div class="col-md-1" style="padding-bottom:5px;">
        <button type="button" class="btn btn-danger btn-xs" onclick="BorrarItem(this)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
</div>
@*@Html.ValidationMessageFor(model => model.Item_es, "", new { data_valmsg_for = "Item_es" })*@





