@model DistribucionUtilidades.Models.VM.LogInVM

@{
    ViewBag.Title = "Login";
    string identif = "Login";
}
<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default p-4 rounded border border-grey">
            <div class="panel-body">
                <form id="LoginForm" onsubmit="Ingresar(); return false;">
                    <center><img src="~/images/logo-s.jpg" /></center>
                    <div class="mt-3">
                        <label>User</label>
                        @Html.EditorFor(model => model.LogIn.UsuarioID, new { htmlAttributes = new { @class = "form-control input-sm" , @readonly = "readonly" } })
                    </div>
                    <div class="mt-3">
                        <label>Password</label>
                        @Html.PasswordFor(model => model.LogIn.Password, new { @class = "form-control form-control-sm input-sm" })
                        @Html.ValidationMessageFor(model => model.LogIn.Password)
                    </div>

                    <center>
                        <div id="divCredencialesIncorrectas" class="d-none" style="margin-top:10px;">
                            <span class="field-validation-error">Usuario o contraseña incorrecta.</span>
                        </div>
                        <div style="margin-top:15px;">
                            <button type="submit" class="btn btn-primary" id="btnAcceso">Ingresar</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>

    <div id="AlertsLogin"></div>
</div>

<environment include="Development">
    <script src="~/js/Login.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/Login.min.js" asp-append-version="true"></script>
</environment>

<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />

<script language="javascript" type="text/javascript">

    var frmLogin = "Login";

    $(document).ready(function () {
        //;
        CargarAlertas(frmLogin);
    })

</script>