@model DistribucionUtilidades.Models.VM.CargaInformacionCuentaVM

@{ }


<div id="Alerts_CargaInformacionCuenta">
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div>
            <h3>Carga de Infomación de Cuentas</h3>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <p class="leyenda">
            Cargue y/o modifique la información bancaria de Marval o la de los socios.
        </p>
    </div>
</div>

<input type="hidden" id="modoAcceso" value="@{@Model.Modo}"/>

<div class="row mt-3">
    <div class="col-md-12">
        <h4 style="color:#000000">Información de Marval</h4>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <table id="InformacionMarvalTable" class="display compact">
            <thead>
                <tr>
                    <th width="15%" scope="col">Nro Convenio G-> G</th>
                    <th width="15%">Nro Convenio G-> O</th>
                    <th width="20%">CUIT</th>
                    <th width="15%">Tipo de Cuenta</th>
                    <th width="15%">Nro de Cuenta</th>
                    <th width="20%">Código Concepto</th>
                    <th width="20%"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row mt-5 mb-2">
    <div class="col-md-12">
        <h4 style="color:#000000">Información de Socios</h4>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-8"></div>
    <div class="col-md-4 der">
        <button type="button" class="btn btn-primary btn-sm" onclick="altaSocio();">Agregar Socio</button>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <table id="InformacionSociosTable" class="display compact">
            <thead>
                <tr>
                    <th width="5%">Iniciales</th>
                    <th width="5%">Legajo</th>
                    <th width="25%">Nombre y Apellido</th>
                    <th width="25%">Email</th>
                    <th width="10%">Cuil</th>
                    <th width="25%">Cuenta Pesos/CBU</th>
                    <th width="25%">Cuenta Dolares/CBU</th>
                    <th width="5%"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<div id="idUsuario"></div>

<environment include="Development">
    <script src="~/js/CargaInformacionCuenta.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/CargaInformacionCuenta.min.js" asp-append-version="true"></script>
</environment>

<script type="text/javascript">

    $(document).ready(function () {

        
        InicializarTablaInfoCuentaMarval();
        InicializarTablaInfoSocios();
    })

</script>