@model DistribucionUtilidades.Models.VM.ConsultaPagoContainerVM

@{
    string identif = "_ConsultaPagos";
}

<div class="row mb-3">
    <div class="col-md-12">
        <div>
            <h3>Consulta de Pagos</h3>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <p class="leyenda">
            En esta tabla, puede ver un registro de los pagos realizados para cada una de las iteraciones del ejercicio.<br />
            Además, puede descargar los recibos correspondientes haciendo click sobre el check deseado.
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">

        <div class="row">
            <div class="form-group-sm col-md-3">
                <form id="frmConsultaPagos">
                    @Html.HiddenFor(model => model.Ejercicio, new { id = "hEjercicio" + identif, @class = "IncludeHidden" })
                    <label for="ddEjercicio@{@identif}">Ejercicio</label>
                    <div id="pnlEjercicio@{@identif}">
                        @*<img src="~/Images/loading.gif" />*@
                    </div>
                    @Html.ValidationMessageFor(model => model.Ejercicio)
                </form>
            </div>
        </div>
    </div>
</div>

<div id="pnlConsultaPagos">
</div>

<partial name="_ValidationScriptsPartial" />

<environment include="Development">
    <script src="~/js/ConsultaPagos.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/ConsultaPagos.min.js" asp-append-version="true"></script>
</environment>

<script type="text/javascript">

    $(document).ready(function () {
        //$("ddlEjercicio@{@identif}")[0].selectedIndex = 0;
        ComboEjercicio();
        CargarPanelConsultaPagos();
    })

</script>
