@model DistribucionUtilidades.Models.VM.InformacionContableVM
@{
    string identif = "_ConsultaPagos";
}

<div class="row mb-3">

    <div class="col-md-12">
        <div>
            <h3>Reporte para Informacion Contable</h3>
        </div>
    </div>

</div>

<div class="row mt-3">
    <div class="col-md-12">

        <div class="row">
            <div class="form-group-sm col-md-3">
                <form id="frmReporteInformacionContableContainer">
                    @Html.HiddenFor(model => model.IdIteracion, new { id = "hEjercicio" + identif, @class = "IncludeHidden" })
                    <label for="ddEjercicio@{
                        @identif
}">Mes</label>
                    <div id="pnlEjercicio@{
                        @identif
}">
                        @*<img src="~/Images/loading.gif" />*@
                    </div>
                    @Html.ValidationMessageFor(model => model.IdIteracion)
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div id="TablaReportesInformacionContable"></div>
<br />

<div style="display:flex;justify-content:end">
    <button type="button" class="btn btn-primary btn-sm" onclick="DescargarExcelReporteParaInformacionContable();">Descargar Excel</button>
</div>
<script>

    $(document).ready(function () {
        ReporteParaInformacionContable();
    })

</script>

