


<div id="AlertsCasosDeEstudio"></div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12 izq">
                <h2>Casos de estudio</h2>
            </div>

        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12 der">
                <button type="button" class="btn btn-primary" onclick="AltaCasoDeEstudio();">Nuevo Caso de Estudio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="CasosDeEstudioTable" class="display compact">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Profesionales</th>
                            <th>Fecha</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>
    </div>
    <input type="hidden" id="idCasoDeEstudio" />
</div>

@Scripts.Render("~/bundles/CasosDeEstudio")

<script type="text/javascript">

    var web_url_casos = "@System.Configuration.ConfigurationManager.AppSettings["WEB_CASOSDEESTUDIO"]";

    $(document).ready(function () {

        InicializarTablaCasosDeEstudio();
    })

</script>