@font-face {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Mark Pro"), url("../fonts/MarkPro-Light.woff2") format("woff2"), url("../fonts/MarkPro-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Mark Pro"), url("../fonts/MarkPro.woff2") format("woff2"), url("../fonts/MarkPro.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Mark Pro"), url("../fonts/MarkPro-Medium.woff2") format("woff2"), url("../fonts/MarkPro-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Mark Pro"), url("../fonts/MarkPro-Bold.woff2") format("woff2"), url("../fonts/MarkPro-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 800;
  src: local("Mark Pro"), url("../fonts/MarkPro-Heavy.woff2") format("woff2"), url("../fonts/MarkPro-Heavy.woff") format("woff");
  font-display: swap;
}
