@{
    ViewBag.Title = "Marval News";
}

<div id="AlertsMarvalNews">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-10 izq">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="col-md-2 der">
                <button type="button" class="btn btn-primary" id="btnAltaMarvalNews" onclick="AltaMarvalNews();">Nuevo Marval News</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="pnlGrillaMarvalNews">

                <table id="TablaMarvalNews" class="display compact">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Fecha</th>
                            <th>Nro</th>
                            <th>Título</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hId" />

@Scripts.Render("~/bundles/MarvalNews")
@Scripts.Render("~/bundles/jqueryval")
