
<div class="row">
    <div class="col-12">
        <center><h4>El proceso ha sufrido modificaciones por otro usuario mientras utilizaba este módulo. <br />
            Por favor recargue el sistema para ver los últimos cambios.</h4></center>
    </div>
</div>
